/* 
To make global variables:
:root {
	--text-color: #ddd;
}

body {
	To use variables:
	color: var(--text-color);
}
*/

body {
	background-color: white !important;
}

.list-group-item {
	border: none !important;
}

.prevent-select, .prevent-select * {
	-webkit-user-select: none;
		/* Safari */
	-ms-user-select: none;
		/* IE 10 and IE 11 */
	user-select: none;
		/* Standard syntax */
}