body {
	background-image: linear-gradient(rgba(33, 37, 41), rgba(13, 17, 21))
}

header {
	padding-top: 10vh;
	margin-bottom: 100vh;
}

h1 {
	font-size: 8rem !important;
	background: linear-gradient(to right, rgb(67, 124, 205), rgb(69, 214, 202));
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-shadow: 2px 2px 10px rgba(255, 255, 255, .35);
}

.grass {
	background-image: url("/assets/grass.jpg");
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.hero-section {
	margin-top: 12vh;
}

ul {
	list-style-position: inside;
	display: inline-block;
	text-align: left;
}

.heading1 {
	margin-top: 7vh;
}

.checkmark {
	list-style-image: url("/assets/check\ mark.png");
}

.xmark {
	list-style-image: url("/assets/x\ mark.png");
}

.qmark {
	list-style-image: url("/assets/question\ mark.png");
}

@media all and (max-width: 992px) {
	h1 {
		font-size: 14rem !important;
	}

	.hero-section {
		zoom: 200%;
		margin-top: 6vh;
	}

	.add-margin-small {
		margin-top: 5vh;
	}

	h2 {
		font-size: 5rem !important;
	}
}